body {
    width: 100vw;
    background-image: url(./steamtwo.gif);
    background-size: contain;
    

}

.topbox {
    height: 150px;
    width: 100vw;
    margin: auto;
    padding-bottom: 50px;
    background-color: black;
    
}

.toptext {
    height: 70px;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size:40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: black;
    background-image: url(./veg.jpg);
    background-color: black;
    background-position: center;
    background-repeat: repeat-x;
    font-family: fantasy;
    padding-top: 20px;
    
}

.navbar {
    height: 50px;
    width: 90%;
    margin: auto;
    text-align: center;
    text-decoration: none;
    
}

.btn {
    width: 100px;
    height: 60px;
    background-image: url(./steam.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    opacity: .5;
    color: white;
    font-style: oblique;
    font-size: 15px;
    background-position: center;

    text-align: center;
    padding: 15px;
}

li {
    display: inline;
    padding: 150px;
}

ul {
    padding-bottom: 20px;
}

.topmiddlebox {
    height: 200px;
    width: 100vw;
    margin: auto;
    
}

.topimage {
    height: 200px;
    width: 20%;
    background-image: url(./topbroth.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    
}

.topmiddletext {
    height: 50px;
    width: 40%;
    margin: auto;
    text-align: center;

}

.bottommiddlebox {
    height: 350px;
    width: 100vw;
    margin: auto;
    
}

.leftbox {
    height: 100%;
    width: 50%;
    float: left;
    margin: auto;
}

.leftimage {
    background-image: url(./bonejar.jpg);
    height: 100%;
    width: 30%;
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    margin: auto;
}

.rightbox {
    height: 100%;
    width: 50%;
    float: right;
    margin: auto;
    text-align: right;
       
}

.rightimage {
    height: 100%;
    width: 30%;
    background-image: url(./brothcup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.bottombox {
    height: 150px;
    width: 100vw;
    margin: auto;
    background-color: black;
}

.bottomimage {
    height: 150px;
    width: 175px;
    margin: auto;
    background-image: url(./beef.pdf);
}

.footer {
    height: 100px;
    width: 100vw;
    margin: auto;
    background-color: grey;
}