body {
    width: 100vw;
    

}

.topbox {
    height: 150px;
    width: 100vw;
    margin: auto;
    padding-bottom: 20px;
    
}

.toptext {
    height: 70px;
    width: 90%;
    margin: auto;
    text-align: center;
    background-image: url(./epic.jpg);
    background-color: black;
    font-size: 20px;
    font-family: fantasy;
    padding-top: 20px;
    
}

.toptext img {
    object-fit: cover;
}

.navbar {
    height: 50px;
    width: 90%;
    background-color: yellow;
    margin: auto;
    text-align: center;
    text-decoration: none;
    padding-bottom: 30px;
}

.btn {
    border: none;
    width: 70px;
    height: 30px;
    background-color: blanchedalmond;
    text-align: center;
    padding: 5px;
}

li {
    display: inline;
    padding: 125px;
}

.topmiddlebox {
    height: 200px;
    width: 100vw;
    margin: auto;
    background-color: pink;
}

.topimage {
    height: 200px;
    width: 20%;
    background-image: url(./bonejar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    
}

.topmiddletext {
    height: 50px;
    width: 90%;
    margin: auto;
}

.bottommiddlebox {
    height: 150px;
    width: 100vw;
    margin: auto;
    
}

.leftbox {
    height: 100%;
    width: 50%;
    float: left;
    margin: auto;
    
}

.rightbox {
    height: 100%;
    width: 50%;
    float: right;
    margin: auto;
}

.bottombox {
    height: 150px;
    width: 100vw;
    margin: auto;
    background-color: forestgreen;
}

.bottomimage {
    height: 150px;
    width: 175px;
    margin: auto;
    background-color: white;
}

.footer {
    height: 100px;
    width: 100vw;
    margin: auto;
    background-color: grey;
}